name: Build and deploy ASP.Net Core API to Azure Web App - ibas-support-app-4065

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Restore dependencies
        run: dotnet restore ./IbasSupportApi/IbasSupportApi.csproj

      - name: Build API
        run: dotnet build ./IbasSupportApi/IbasSupportApi.csproj --configuration Release --no-restore

      - name: Publish API
        run: dotnet publish ./IbasSupportApi/IbasSupportApi.csproj -c Release -o ./output

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-build
          path: ./output

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write      # REQUIRED for Azure login
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: api-build

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C92BCBA2DA8A4E0EA5F4C7E56D48F13E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_065AAD4066C343DBA862E913502C8F5D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_CBC157C6243342CB82A2C2B86ECBEBC7 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ibas-support-app-4065'
          slot-name: 'Production'
          package: .
